<div layout="row">
    <div flex="20"  flex-offset="5">
        <h2>Instructions</h2>
        <p>Enter two strings as inputs. The first result will contain all the character matches from
           the first string. The second result will show how many times a letter from the second word is
           duplicated.
        </p>
        <p><a ng-href="https://github.com/goodbedford/Finder">See the Code on Github</a></p>
        <h3>Built With</h3>
        <ul>
            <li>Angular</li>
            <li>Material</li>
            <li>UI Router</li>
            <li>Bower</li>
            <li>Emmet</li>
            <li>Webstorm</li>
            <li>BitBallon</li>
        </ul>
    </div>
    <div flex="30" flex-offset="5">
        <md-content id="wordForm">
                <form id="dupForm" action="">
                    <md-input-container><label for="string1">String-1</label><input id="string1" type="text" ng-model="home.string1" autofocus/></md-input-container>
                    <md-input-container><label for="string2">String-2</label><input id="string2" type="text" ng-model="home.string2"/></md-input-container>
                    <div layout>
                        <md-input-container ><md-button ng-click="home.findDups(home.string1, home.string2)">Submit</md-button></md-input-container>
                    </div>
                </form>
        </md-content>
    </div>
    <div layout="column" flex-offset="5">
    <md-content>
        <div><h2 class="answer-title">Answers List</h2></div>
            <md-card  ng-repeat="result in home.dupList track by $index">
                <md-card-content>
                    <p>
                        <span class="title">String1:</span><br>{{result.strOne}}
                    </p>
                    <p>
                        <span class="title">String2:</span><br>{{result.strTwo}}
                    </p>
                    <p><span class="title">Single Dup:</span><br>{{result.singleDup}}</p>
                    <p><span class="title">All Dups:</span><br>{{result.allDups}}</p>
                </md-card-content>
            </md-card-content>
    </md-content>
    </div>
</div>
